.cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap:3rem;
    padding: 1rem;
    margin: 0 4rem 0 4rem;
}
.cardWrapper{
    width:20vw;
    height:35vh;
    background-color: rgb(238, 240, 241);
    border-radius: 5px;
}
.cardImage{
    width:20vw;
    height:27vh;
    display: flex;
    padding: 1rem;
    align-items: center;
    object-fit: cover;
    border-radius: 4px;
}
.cardLikecon{
   display: flex;
   align-items: center;
gap:5px;
}
.cardAction{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
}